:root {
  /* colors */
  --dark: #1f2937;
  --light-1: #f9faf8;
  --light-2: #e5e7eb;
  --light-blue: #3882f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: [main-start] 1fr [main-end footer-start] 6rem [footer-end];
  grid-row-gap: 4rem;
}

main {
  grid-row: main-start / main-end;

  display: grid;
  grid-template-columns: 1fr 80vw 1fr;
  grid-template-rows:
    [header-start] minmax(30vh, 1fr)
    [header-end information-start] 1fr [information-end quote-start] minmax(
      8rem,
      1fr
    )
    [quote-end cta-start] 1fr [cta-end];
  grid-row-gap: 5rem;
}

/* header section */
.header {
  grid-row: header-start / header-end;
  grid-column: 1 / -1;
  background-color: var(--dark);
  padding: 2rem 15rem;

  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 2.4rem;
  color: var(--light-1);
}

.header-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 50rem;
}

.header-links,
.header-content__text p {
  font-weight: 1.8rem;
  color: var(--light-2);
}

.header-content {
  display: flex;
  margin-top: 4%;
  margin-bottom: 6%;
}

.header-content__text {
  width: 45rem;
}

.header-content__text > h2 {
  font-size: 4.8rem;
  font-weight: bolder;
  color: var(--light-1);
}

.header-content__button {
  background-color: var(--light-blue);
  border-radius: 1rem;
  border: none;
  color: var(--light-1);
  font-weight: bold;
  padding: 0.8rem;
  margin-top: 1rem;
  width: 9rem;
}

.header-content__image {
  height: 100%;
  width: 50rem;
  background-color: #8b909be7;
  margin-left: 7rem;
  color: var(--light-2);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* information section */
.information {
  grid-row: information-start / information-end;
  grid-column: 2 / 3;
}

.information > h2 {
  font-size: 3.6rem;
  font-weight: bolder;
  color: var(--dark);
}

/* quote section */
.quote {
  grid-row: quote-start / quote-end;
  grid-column: 1 / -1;
  background-color: var(--light-2);
}

.quote-text {
  font-weight: 3.6rem;
  font-weight: lighter;
  font-style: italic;
  color: var(--dark);
}

/* call-to-action section */
.call-to-action {
  grid-row: cta-start / cta-end;
  grid-column: 2 / 3;
  background-color: var(--light-blue);
}

/* footer section */
footer {
  grid-row: footer-start / footer-end;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--light-1);
}
